.mainContainer{
  width: 60%;
  margin: 0 auto;
  // border: 1px dotted black;
  .app{
    text-align: center;
    .heroContainer{
      display: flex;
      width: 60%;
      margin: 0 auto;
      justify-content: space-between;
      .users{
        background-image: url(./assets/enter-two-users.jpg);
        width: 50px;
        height: 20px;
      }
      .battle{
        background-image: url(./assets/battle.jpg);
        width: 50px;
        height: 20px;
      }
      .winner{
        background-image: url(./assets/see-the-winner.jpg);
        width: 50px;
        height: 20px;
      }
    }
  }
  .inputContainer{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
  }
}



