.mainContainer {
  width: 60%;
  margin: 0 auto;

  // border: 1px dotted black;
  .app {
    text-align: center;

    .heroContainer {
      display: flex;
      width: 100%;
      margin: 0 auto;
      justify-content: space-between;

      img{
        width: 230px;
        height: 230px;
      }
    }
  }

  .inputContainer {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
  }

  .searchResultContainer {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 10px;

    .searchResultChildContainer {
      display: flex !important;
      justify-content: space-between !important;
      width: 34%;
      height: 55px;
      border: 0.5px dotted grey;
      padding: 20px;
      border-radius: 10px;
      .userNameResetContainer{
        display: flex;
        justify-content: space-between;
        width: 47%;
        .userLinkContainer{
          padding-top: 10px;
          a{
            text-decoration: none;
            font-size: 20px;
            color: black;
            margin-top: 20px;
          }
        }

      }      
    }
  }
  .battleButton{
    text-align: center;
  }
}

