.mainContainerResult{
    display: flex;
    justify-content: space-between;
    width: 64%;
    margin: 0 auto;
    .userResult{
        width: 50%;
        text-align: center;
        // border: 0.5px solid blue;
        margin: 70px;
        border-radius: 10px;
        background: #d3d3d3;
    }
}

ul{
    display: flex;
    justify-content: space-between;
    width: 175px;
    margin: 10px 67px;
}
li{
    list-style-type: none;
    font-size: 20px;
    text-align: left;
    width: 140px;
}
h1{
    color: brown;
}
h2{
    color: #8a2be2;
    cursor: pointer;
}
h3{
    color: #00f;
}